@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
}

button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    appearance: none;
    background-color: #fff;
    border-color: #eee;
    border-radius: 0;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    @apply rounded-xl;
}

.tooltip:before {
    z-index: 99;
}